.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5em;
}

#logout {
  position: absolute;
  left: 2em;
  top: 1em;
}

button {
  margin-top: 1em;
}
