section {
  position: relative;
  top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 2em auto 1em auto;
  display: block;
}

a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
