<mat-form-field appearance="outline">
  <!-- Label -->
  @if (label) {
  <mat-label>{{ label }}</mat-label>
  }

  <!-- Input field -->
  <input
    matInput
    [type]="hide ? 'password' : 'text'"
    [formControl]="control"
    (blur)="blur.emit()"
  />

  <!-- Password visibility -->
  @if (isPassword) {
  <mat-icon matSuffix (click)="hide = !hide">{{
    hide ? "visibility_off" : "visibility"
  }}</mat-icon>
  }

  <!-- Error -->
  @if (control.errors && error) {
  <mat-error [title]="error">{{ error }}</mat-error>
  }
</mat-form-field>
