mat-form-field {
  display: block;
}

mat-icon:hover {
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

mat-error {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
